body {
    background: #eeeeee;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
}

#footer {
    padding-top: 50px;
    padding-bottom: 50px;
}


.vertCent {
    display: flex;
    align-items: center
}


/* freshman-resources*/

/* TODO Needs fixed v */
.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;
    width: 100%;
    /* height: 100vh; */
    opacity: 100;
    /* z-index: 3; */
}

.pageTitle {
    margin-top: 60px;
    color: #777777;
    font-weight: bolder;
    background-color: #ffffff;
    border-radius: 10px;
}

/*start of imported sidebar content
#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}

.sidebar-separator {
    background-color: #333;
    height: 25px;
}

.logo-separator {
    background-color: #333;
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

/* end of imported sidebar content ---------

/* ------End of New content------- */

.Sidebar {
    margin-top: 30px;
    position: fixed;
    width: 250px;
    top: 0;
    left: 0;
    bottom: 0;
    background: #ffffff;
    padding-top: 50px;
    z-index: 2;
    opacity: 0.8;
}

.Sidebar a {
    display: block;
    padding: 10px 20px;
    color: #bbb;
    text-decoration: none;
    font-family: "Rubik";
    letter-spacing: 2px;

}

.Sidebar a:hover {
    color: #fff;
    margin-left: 20px;
    transition: 0.4s;

}


.announcment-img{
    width: 50%;
}









/* */

.left-align {
    text-align: start;
}

/* index */
#photo {
    background-image: linear-gradient(to right, rgba(200, 200, 200, 0.8), rgba(200, 200, 200, 0.8)), url("../pictures/main2.jpg");
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#photo2 {
    background-image: url("../pictures/shpeFam2.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#photo3 {
    background-image: url("../pictures/groupxl.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#photo4 {
    background-image: url("../pictures/iceSkating.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

/* about */
#confaward {
    background-image: url("../pictures/IMG_20191031_182250.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#shpetina-pannel {
    background-image: url("../pictures/shpetina-pannel.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#mentorshpe-reveals {
    background-image: url("../pictures/mentorshpe-reveals.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#test {
    background-image: url("../pictures/akawksp-capone.png");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#bowl {
    background-image: url("../pictures/SHPEs&Salsa2.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#volley {
    background-image: url("../pictures/AimeeWithaDog.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#acd {
    background-image: url("../pictures/academicXL2.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#mentor {
    background-image: url("../pictures/mentorshpe_plex.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#study {
    background-image: url("../pictures/studyhours.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#scholar {
    background-image: url("../pictures/ZachChevronRoomMeeting.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#acdWork {
    background-image: url("../pictures/AcademicDevelopmentWorkshop.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#pro {
    background-image: url("../pictures/pro3.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#resumeWork {
    background-image: url("../pictures/ResumeWorkshop.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#close {
    background-image: url("../pictures/ETBmeeting.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#leadshpe {
    background-image: url("../pictures/panel.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#emmanuelTalking {
    background-image: url("../pictures/DSC_0090.JPG");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#awardPhoto {
    background-image: url("../pictures/2019AwardPhotoGroup.jpeg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#chp {
    background-image: url("../pictures/ScoatesGeneralMeeting.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#memretreat {
    background-image: url("../pictures/SackPotatoRace.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#icesocial {
    background-image: url("../pictures/IceSkatingSocial.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#imural {
    background-image: url("../pictures/IntramuralFlagFootball.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#service {
    background-image: url("../pictures/ServiceTeachingKids.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#service2 {
    background-image: url("../pictures/ServicePicture.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#outreach {
    background-image: url("../pictures/chapdev2.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#former {
    background-image: url("../pictures/FormerMems.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#former2 {
    background-image: url("../pictures/former.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#former3 {
    background-image: url("../pictures/FormerMemberInFrontofAcademicBuilding.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#former4 {
    background-image: url("../pictures/FormerMemberLeaningOnAggieRing.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#faq {
    background-image: url("../pictures/ZachChevronRooms.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#waterTower {
    background-image: url("../pictures/WaterTower.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#sponsor {
    background-image: url("../pictures/2023EboardWithCaterpillar.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#boil {
    background-image: url("../pictures/2023CrawfishBoilGroup.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#review {
    background-image: url("../pictures/2023LeadershpeLive.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#fin {
    background-image: url("../pictures/WalkingInArizona.JPG");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#shpetina-social {
    background-image: url("../pictures/shpetina_dinner.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#shpetina-plax {
    background-image: url("../pictures/shpetina-plax.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#shpetina-billards {
    background-image: url("../pictures/SHPEtinaBillards.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#award {
    height: 75%;
}

#ShpeLogo {
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 10px;
    padding-right: 10px;
}

#TamuShpeLogo {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: auto;
}



.newback {
    padding: 50px;
}

.newback-cal {
    padding: 50px 50px 20px 50px;
}

.newback-padding {
    padding: 50px;
}

.plax {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    height: 50%;
}

.navbar-toggler:focus {
    outline: none !important;
}

.navbar-header.col {
    padding: 0 !important;
}

.navbar {
    background: #fff;
    padding-right: 16px;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}

.navbar .navbar-brand {
    color: rgb(80, 0, 0);
    padding-left: 0;
    padding-right: 0px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.navbar .navbar-brand b {
    font-weight: bold;
    color: navy;
}

.navbar ul.nav li a:hover,
.navbar ul.nav li a:focus {
    color: rgb(80, 0, 0) !important;
}

.navbar ul.nav li.active a,
.navbar ul.nav li.active a:hover,
.navbar ul.nav li.active a:focus {
    color: rgb(80, 0, 0) !important;
    background: transparent !important;
}

.navbar .nav-item i {
    font-size: 18px;
}

.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}

.navbar .nav-item.open>a {
    background: none !important;
}

.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.navbar .dropdown-menu li a {
    color: #777;
    padding: 8px 20px;
    line-height: normal;
    background-color: transparent !important;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: auto;
    text-align: center;
    color: #777;
}

.nounder {
    color: white;
    text-decoration: none;
}

.nounder:hover {
    color: white;
    text-decoration: none;
}

.region {
    text-align: center;
    vertical-align: middle;
    color: rgb(80, 0, 0);
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.icon {
    color: #777;
    padding: 5px;
}

#footer.row {
    margin: auto;
    text-align: center;
    color: #777;
    background: #fff;
    border-top: 1px solid #d6d6d6;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

.footer,
.footer2 {
    color: #777;
    text-decoration: none;
    font-size: 20px;
    padding: 5px
}

.footer:hover,
.footer2:hover {
    color: rgb(80, 0, 0);
    text-decoration: none;
    font-size: 20px;
    padding: 5px
}

ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}


.cool-link {
    display: inline-block;
    color: navy;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: navy;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}


.school {
    color: rgb(80, 0, 0);
}

.nat {
    color: navy;
}

.pillTextHead {
    color: #777;
}

.pillText {
    color: #777;
    text-decoration: none;
}

.pillText:hover {
    color: rgb(80, 0, 0);
    text-decoration: none;
}

.service {
    padding-top: 20px;
}

.motto,
.underline {
    border-bottom: 1px solid;
    padding-bottom: 5px;
}

/* Responsive iFrame */
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.reviewRes {
    max-width: 380px;
    max-height: 950px;
    width: auto;
    height: auto;
}

.maroonLink,
.maroonLink:hover {
    color: rgb(80, 0, 0);
    text-decoration: none;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
}

.for-mobile {
    display: none;
}

.forIpad {
    display: none;
}

.maroon,
.maroon:hover {
    background-color: #800000;
    color: white;
}

/* Get around ipad pro issue */
@media (min-width: 1280px) and (max-width: 1365px),
(min-width: 1367px) {
    .plax {
        background-attachment: fixed;
    }
}

/*Calendar Adjustment*/
@media (min-width: 300px) and (max-width: 1023px) {
    .big-container {
        display: none;
    }
}

@media (min-width: 1024px) {
    .small-container {
        display: none;
    }

    #name {
        font-size: 20px;
        font-weight: 900;
        color: rgb(73, 73, 73);
    }

    #posiiton {
        font-size: 15px;
    }

    .eInfo,
    p {
        font-size: 13.5px;
    }

    #major {
        font-size: 15px;
        font-weight: bold;
    }

    .footer2 {
        font-size: 20px;
    }

    .forIpad {
        display: inherit;
    }

}


/*fix issues with ipad*/
@media (min-width: 760px) {

    .motto,
    .icon {
        font-size: 25px !important;
    }
}

.cal{
    background-color:white;
    padding: 30px;
    border-radius: 20px;
}

.testing-card{
    padding: 20px;
    /* margin: 5px; */
    transition: transform 0.2s ease;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.testing-card:hover{
    transform: scale(1.04);
}

.newback-index{
    padding: 50px 0px 50px 0px;
}

.merch-card{
    border-width: 0px;
    max-width: 30.5%;
    transition: transform 0.2s ease;
    border-radius: 15px;
    /* background-color: rgb(255, 255, 255); */
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.merch-card:hover{
    transform: scale(1.04);
}


/*mobile devices*/
@media (max-width: 750px) {
    .announcment-img{
        width: 75%;
    }
    #name {
        font-size: 20px;
        font-weight: 900;
        color: rgb(73, 73, 73);
    }

    .newback-padding {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .newback {
        padding: 10px;
    }
    .newback-cal{
        padding: 50px 10px 20px 10px;
    }
    .newback-index{
        padding: 20px;
    }
    #calendar{
        height: 460px;
    }
    .cal{
        height: 500px;
    }

    #posiiton {
        font-size: 15px;
    }
    .testing-card{
        margin-top: 15px;
        margin-bottom: 15px;        
    }
    .index-card-div{
        margin-top: 0px !important;
    }
    .testing-card:hover{
        transform: scale(1);
    }

    .eInfo,
    p {
        font-size: 13.5px;
    }

    #major {
        font-size: 15px;
        font-weight: bold;
    }

    .left-align {
        text-align: center;
    }

    /*Can't spell too lazy to fix*/

    #photo {
        height: 35vh;
        padding: 80px 45px 45px 45px;
        margin-top: 57px;
    }

    #photo2,
    #photo3,
    #photo4,
    #mentorshpe-reveals,
    #confaward,
    #shpetina-pannel,
    #chp,
    #memretreat,
    #icesocial,
    #imural,
    #faq,
    #former,
    #former2,
    #former3,
    #former4,
    #leadshpe,
    #emmanuelTalking,
    #awardPhoto,
    #bowl,
    #volley,
    #pro,
    #resumeWork,
    #close,
    #service,
    #outreach,
    #service2,
    #boil,
    #review,
    #fin,
    #sponsor,
    #acd,
    #scholar,
    #acdWork {
        padding: 150px;
    }

    .reviewRes {
        max-width: 250px;
        max-height: 750px;
        height: auto;
        width: auto;
    }

    .school,
    .nat {
        font-size: 40px;
        border-bottom: solid 1px #777;
        padding-bottom: 5px;
    }

    .pillText {
        text-align: justify !important;
    }

    .icon {
        font-size: 15px !important;
    }

    .motto,
    .rem,
    .non-mobile {
        display: none;
    }

    .for-mobile {
        display: inherit;
    }

    .eInfo,
    #major {
        font-size: 15px;
    }

    .footer2 {
        font-size: 20px;
    }

    .merch-card{
        max-width: 300px;
        width: auto;
        margin-bottom: 40px !important;
        transform: none;
        margin-left: auto;
        margin-right: auto;
    }
}


/* Academic Development page */
#center-pic-horizontal img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 1200px) {
    #horizontalfooterLink {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

/* Chapter Development page */
#chapdevphoto {

    max-height: 320px;
}

/*This contains the edit for the our members page*/

/*Carousel 1*/
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #3a3a3a;
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);

}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: #080808;
}

/*Member of the month cards*/

/*Card one or latest member of the month*/

#member-card1 {
    padding: 10px;
}

/*End of card 1*/

/*Card two*/

#member-card2 {
    padding: 10px;
}

/*End of card 2*/

/*Card three*/

#member-card3 {
    padding: 10px;
}

/*End of card 3*/

/* Highlighted Member Cards */
@media (min-width: 576px) {
    .ourmemfix {
        width: 100%;
        height: 30vw;
        object-fit: cover;
    }
    .ourmemfix2 {
        width: 100%;
        height: 25vw;
        object-fit: cover;
    }
}


/* Modal style */
.committeemodal {
    height: 200px;
    overflow-y: hidden;
}

.membermodal {
    height: 325px;
    overflow-y: scroll;
}

#membermodalfoot {
    padding: 0%;
}

#cardbodymodal {
    padding: 1rem;
}

.btn:hover {
    background-color: rgb(242, 101, 52);
    color: white;
}

.btn {
    background-color: #0070C0;
}

.btn-outline-secondary {
    color: white;
}

#carouselimg {

    max-height: 500px;
    opacity: 75%;
}

#WidePic {
    width: 100%;
}

#footerLink {
    height: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.membercard {
    padding-bottom: 2%;
}

.pointpic {
    padding: 2%;
}

#wrapper {
    display: flex;
    justify-content: center;
}

#history_banner {
    background-image: linear-gradient(to bottom right, rgba(60, 60, 60, 0.5), rgba(65, 60, 60, 0.5)), url("../pictures/LucasHeadshot.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    padding-top: 100px;
}

.shpe_story {
    font-size: 35px;
    color: white;
}

.add_info {
    font-size: 20px;
}

.shpe_mission {

    font-size: 50px;
    color: white;
}

#about_banner {
    background-image: linear-gradient(to bottom right, rgba(80, 0, 0, 0.5), rgba(65, 60, 60, 0.322)), url("../pictures/2019AwardPhotoGroup.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    padding-top: 150px;
}

.non_banner {
    padding-top: 100px;
    padding-bottom: 100px;
    color: #777;
}

.right {
    text-align-last: right;
}

.fa-arrow-alt-circle-right {
    font-size: 35px;
    position: relative;
    top: 5px;
    padding-right: 5px;
}

/*This contains the edit for the pastevents page*/
.stretch {
    padding: 3% 10% 3% 10%;
}

#ourmemberphoto {
    background-image: url("../pictures/sand_volleyball.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#highlightmem {
    background-image: url("../pictures/subregionret.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#nursehome {
    background-image: url("../pictures/nursing_home_volunteer.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#pasteventspic {
    background-image: url("../pictures/mentorshpePair.png");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#monthone {
    background-image: url("../pictures/12th_man_courts.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#monthtwo {
    background-image: url("../pictures/SackPotatoRace.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#monththree {
    background-image: url("../pictures/shpetina_dinner.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#committee1 {
    background-image: url("../pictures/MeetingDiscussingInternships.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#committee2 {
    background-image: url("../pictures/SHPEmembersCoding.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

#committee3 {
    background-image: url("../pictures/GetFitWithSHPE.jpg");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}

.maxheightcard {
    max-height: 420px;
}

.maxheightcard2 {
    max-height: 434px;
}

.maxcardheight {
    max-height: 158px;
}

.eboardcard {
    /* max-height: 462px; */
    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8e9eab, #eef2f3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.commcard {
    max-height: 230px;
}

/*This contains the edit for the sponsorshpe page*/
.scroll-parent {

    overflow-x: scroll;
    white-space: nowrap;
}

.scroll-parent img {
    height: 100px;
    padding: 2%;
    width: auto;
}

#center-pic-horizontal img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*This contains the edit for the shpetina page*/
#pink-back {
    background-image: linear-gradient(#f8dada, #ffffff);
}

.maroon-hover:hover {
    color: rgb(80, 0, 0);
}

.white-text {
    color: white;
}

.eBoard-icon {
    padding: 0 !important;
}

.merch-price{
    font-weight: bold;
}

.memberSHPE-hover{
    color: white !important;
    text-decoration: none !important;
}

.index-card-img{
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.merch-card-img {
    border-radius: 15px 15px 0px 0px;
}


.new {
    background: #e33348;
    color: white;
    padding: 2px;
    position: absolute;
    top: 10px;
    left: 4px;
    z-index: 2;
    transform: rotate(-45deg);
  }
  .new:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    transform: rotate(45deg);
    border-width: 20px 20px 0 20px;
    border-color: #e33348 transparent transparent transparent;
    position: absolute;
    right: -27px;
    bottom: -3px;
  }
  .new:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    transform: rotate(-45deg);
    border-width: 20px 20px 0 20px;
    border-color: #e33348 transparent transparent transparent;
    position: absolute;
    left: -27px;
    bottom: -3px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    opacity: 1;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 45px;
    width: 45px;
    color: black;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    filter: invert(100%);
  }
  
  .carousel-item {
    transition: transform .6s ease-in-out;
  }
  
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: opacity 0s .6s;
  }

  .crt-logo{
      color: rgba(0, 0, 0, 0) !important;
  }