input {
  border:solid 1px #ccc;
  border-radius: 5px;
  margin-bottom:2px
}
input:focus {
  outline:none;
  border-color:#aaa;
}
.sort {
  padding:4px 15px;
  border-radius: 4px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #550000;
  height:25px;
}  
