
/*hero image attempt*/
body, html {
    height: 100%;
}

/* The hero image */
.hero-image-form {
    /* The image used */
    background-image: url("../img/seniors18.JPG");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-image-about {
    /* The image used */
    background-image: url("../img/flagfoot.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-image-home {
    /* The image used */
    background-image: url("../img/confkc.PNG");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-image-exec {
    /* The image used */
    background-image: url("../img/officers.png");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-image-spon {
    /* The image used */
    background-image: url("../img/technipgm.JPG");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-image-mem {
    /* The image used */
    background-image: url("../img/soccerfin.jpeg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-image-prof {
    /* The image used */
    background-image: url("../img/genmeet.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-image-aca {
    /* The image used */
    background-image: url("../img/studyhours.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-image-serv {
    /* The image used */
    background-image: url("../img/acepanel.JPG");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-image-chap {
    /* The image used */
    background-image: url("../img/pwcleadershipwksp.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-image-lead {
    /* The image used */
    background-image: url("../img/prcomm.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-image-comm {
    /* The image used */
    background-image: url("../img/12thman.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: EB Garamond,serif;
    font-size: 50px;
}

/*responsive image*/
.responsiveimg {
    width: 100%;
    max-width: 680px;
    height: auto;
}
