/*top nav bar style css*/

/*
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}*/

/*top nav bar style css*/


.topnav {
  overflow: hidden;
  background-color: #333; /*black*/
}

.topnav a {
  font-family: 'Oswald', sans-serif;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  margin: 0px;
  line-height: 70px;
  border: none;
  outline: none;
}
.topnav b {
  font-family: 'Oswald', sans-serif;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  margin: 0px;
  border: none;
  outline: none;
}

.active {
  background-color: #6d1313;/*maroon*/
}

.topnav .icon {
  display: none;
}

/* The dropdown container */
.dropdown-18 {
  float: left;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
}

/* Dropdown button */
.dropdown-18 .dropbtn {
  color: #f2f2f2;
  font-family: 'Oswald', sans-serif;
  padding: 14px 16px;
  text-decoration: none;
  line-height: 70px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-18 a {
  font-family: 'Oswald', sans-serif;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  /*margin: 0px;
  border: none;
  outline: none;*/
}

/* Dropdown content (hidden by default) */
.dropdown-18-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 98px;
}

/* Links inside the dropdown */
.dropdown-18-content a {
  float: none;
  color: black;
  padding: 5px 7px;
  font-size: 17px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  /*margin-top: 0;*/
}

/* Add a grey background color to dropdown links on hover 
.dropdown-18-content a:hover {
  background-color: #ddd;
  color: inherit;
}*/

.topnav a:hover, .dropdown-18:hover .dropbtn { /*hover logo does nothing*/
  background-color: #6d1313; /*maroon*/
  color: #f2f2f2;
}

.dropdown-18-content a:hover{
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown-18:hover .dropdown-18-content {
  display: block;
}


@media screen and (max-width: 900px) {
  .topnav a:not(:first-child), .dropdown-18 .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown-18 {float: none;}
  .topnav.responsive .dropdown-18-content {position: relative;}
  .topnav.responsive .dropdown-18 .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .dropdown-18 a {
    float: none;
    display: block;
    text-align: left;
  }
}

